.animale-fullname {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.fiu {
    background-color: green !important;
}

.bau {
    background-color: orangered !important;
}

.cra {
    background-color: rgb(81, 191, 235) !important;
}

.fss {
    background-color: rgb(8, 0, 255) !important;
}